IO_LOC  "C" 49;

IO_LOC  "B" 31;

IO_LOC  "A" 32;

IO_LOC  "T" 55;
IO_PORT "T" PULL_MODE=DOWN;

IO_LOC  "L" 56;
IO_PORT "L" PULL_MODE=DOWN;

IO_LOC  "P" 57;
IO_PORT "P" PULL_MODE=DOWN;

IO_LOC  "S" 68;
IO_PORT "S" PULL_MODE=DOWN;

IO_LOC  "Y" 69;
IO_PORT "Y" PULL_MODE=DOWN;
